<ul class="sg-colors">
    {{# listitems.one }}
    <li>
        <span class="sg-swatch" style="background: {{ hex }};"></span>
        <span class="sg-label">
            {{ name }} <br />
            ${{ var-name }} <br />
            {{ hex }}
        </span>
    </li>
    {{/ listitems.one }}
</ul>
