<div>
    <h2 class="font-primary">Primary Font Sample</h2>
    <pre><code>
    %font-primary
        font-family: 'primary-font', Arial, sans-serif
    </code></pre>

    <h2>Secondary Font Sample</h2>
    <pre><code>
    %font-secondary
        font-family: 'secondary-font', Times, serif
    </code></pre>
</div>
